html,
body {
  margin: 0;
  padding: 0;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.header > a {
  word-wrap: break-word;
}

div.ui.statistic > div.label {
  font-size: 0.5em !important;
}

div.ui.menu {
  border-radius: 0 !important;
}
